In [8]:
import polars as pl

In [35]:
df_polars = pl.read_csv('/home/noor/Documents/DataScienceTools-master/PyPolars_Data_Analysis/data/diamonds.csv')

In [36]:
df_polars.shape

(53940, 10)

In [37]:
df_polars.head(3)

shape: (3, 10)
╭───────┬───────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut       ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ "Ideal"   ┆ "E"   ┆ "SI2"   ┆ ... ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.21  ┆ "Premium" ┆ "E"   ┆ "SI1"   ┆ ... ┆ 326   ┆ 3.89 ┆ 3.84 ┆ 2.31 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.23  ┆ "Good"    ┆ "E"   ┆ "VS1"   ┆ ... ┆ 327   ┆ 4.05 ┆ 4.07 ┆ 2.31 │
╰───────┴───────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [38]:
df_polars.to_pandas().describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [39]:
df_polars.tail(10)

shape: (10, 10)
╭───────┬─────────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut         ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---         ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str         ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═════════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.71  ┆ "Premium"   ┆ "E"   ┆ "SI1"   ┆ ... ┆ 2756  ┆ 5.79 ┆ 5.74 ┆ 3.49 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.71  ┆ "Premium"   ┆ "F"   ┆ "SI1"   ┆ ... ┆ 2756  ┆ 5.74 ┆ 5.73 ┆ 3.43 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.7   ┆ "Very Good" ┆ "E"   ┆ "VS2"   ┆ ... ┆ 2757  ┆ 5.71 ┆ 5.76 ┆ 3.47 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.7   ┆ "Very Good" ┆ "E"   ┆ "VS2"   ┆ ... ┆ 2757  ┆ 5.69 ┆ 5.72 ┆ 3.49 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...   ┆ ...         ┆ ...   ┆ ...     ┆ ... ┆ ...   ┆ ...  ┆ ...  ┆ ...  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.72  ┆ "Ideal"     ┆ "D"   ┆ "SI1"   ┆ ... ┆ 2757  ┆ 5.75 ┆ 5.76 ┆ 3.5  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.72  ┆ "Good"      ┆ "D"   ┆ "SI1"   ┆ ... ┆ 2757  ┆ 5.69 ┆ 5.75 ┆ 3.61 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.7   ┆ "Very Good" ┆ "D"   ┆ "SI1"   ┆ ... ┆ 2757  ┆ 5.66 ┆ 5.68 ┆ 3.56 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.86  ┆ "Premium"   ┆ "H"   ┆ "SI2"   ┆ ... ┆ 2757  ┆ 6.15 ┆ 6.12 ┆ 3.74 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.75  ┆ "Ideal"     ┆ "D"   ┆ "SI2"   ┆ ... ┆ 2757  ┆ 5.83 ┆ 5.87 ┆ 3.64 │
╰───────┴─────────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [40]:
df_polars.dtypes

[polars.datatypes.Float64,
 polars.datatypes.Utf8,
 polars.datatypes.Utf8,
 polars.datatypes.Utf8,
 polars.datatypes.Float64,
 polars.datatypes.Float64,
 polars.datatypes.Int64,
 polars.datatypes.Float64,
 polars.datatypes.Float64,
 polars.datatypes.Float64]

In [41]:
df_polars.columns

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z']

In [42]:
df_polars['carat'].head(3)

shape: (3,)
Series: 'carat' [f64]
[
	0.23
	0.21
	0.23
]

In [43]:
df_polars.to_pandas().head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [44]:
df_polars[0]

shape: (1, 10)
╭───────┬─────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut     ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---     ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str     ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ "Ideal" ┆ "E"   ┆ "SI2"   ┆ ... ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
╰───────┴─────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [45]:
df_polars.head(3)

shape: (3, 10)
╭───────┬───────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut       ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ "Ideal"   ┆ "E"   ┆ "SI2"   ┆ ... ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.21  ┆ "Premium" ┆ "E"   ┆ "SI1"   ┆ ... ┆ 326   ┆ 3.89 ┆ 3.84 ┆ 2.31 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.23  ┆ "Good"    ┆ "E"   ┆ "VS1"   ┆ ... ┆ 327   ┆ 4.05 ┆ 4.07 ┆ 2.31 │
╰───────┴───────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [46]:
df_polars.to_pandas().iloc[:,:1].head(3)

   carat
0   0.23
1   0.21
2   0.23

In [47]:
df_polars.to_pandas().info

<bound method DataFrame.info of        carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]>

In [48]:
import pandas as pd

In [49]:
df_pandas = pd.read_csv('/home/noor/Documents/DataScienceTools-master/PyPolars_Data_Analysis/data/diamonds.csv')

In [51]:
df_polars[0]

shape: (1, 10)
╭───────┬─────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut     ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---     ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str     ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ "Ideal" ┆ "E"   ┆ "SI2"   ┆ ... ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
╰───────┴─────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [53]:
df_polars[['carat', 'cut', 'price']].head(3)

shape: (3, 3)
╭───────┬───────────┬───────╮
│ carat ┆ cut       ┆ price │
│ ---   ┆ ---       ┆ ---   │
│ f64   ┆ str       ┆ i64   │
╞═══════╪═══════════╪═══════╡
│ 0.23  ┆ "Ideal"   ┆ 326   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 0.21  ┆ "Premium" ┆ 326   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 0.23  ┆ "Good"    ┆ 327   │
╰───────┴───────────┴───────╯

In [55]:
df_polars.select_at_idx(0).head(3)

shape: (3,)
Series: 'carat' [f64]
[
	0.23
	0.21
	0.23
]

In [59]:
df_polars[0:3]

shape: (3, 10)
╭───────┬───────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut       ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ "Ideal"   ┆ "E"   ┆ "SI2"   ┆ ... ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.21  ┆ "Premium" ┆ "E"   ┆ "SI1"   ┆ ... ┆ 326   ┆ 3.89 ┆ 3.84 ┆ 2.31 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.23  ┆ "Good"    ┆ "E"   ┆ "VS1"   ┆ ... ┆ 327   ┆ 4.05 ┆ 4.07 ┆ 2.31 │
╰───────┴───────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [63]:
df_polars.slice(0,3)

shape: (3, 10)
╭───────┬───────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut       ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ "Ideal"   ┆ "E"   ┆ "SI2"   ┆ ... ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.21  ┆ "Premium" ┆ "E"   ┆ "SI1"   ┆ ... ┆ 326   ┆ 3.89 ┆ 3.84 ┆ 2.31 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.23  ┆ "Good"    ┆ "E"   ┆ "VS1"   ┆ ... ┆ 327   ┆ 4.05 ┆ 4.07 ┆ 2.31 │
╰───────┴───────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [65]:
df_polars[0:3, ['carat', 'cut']]

shape: (3, 2)
╭───────┬───────────╮
│ carat ┆ cut       │
│ ---   ┆ ---       │
│ f64   ┆ str       │
╞═══════╪═══════════╡
│ 0.23  ┆ "Ideal"   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 0.21  ┆ "Premium" │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 0.23  ┆ "Good"    │
╰───────┴───────────╯

In [69]:
df_pandas.loc[0:3, ['cut', 'carat']]

       cut  carat
0    Ideal   0.23
1  Premium   0.21
2     Good   0.23
3  Premium   0.29

In [72]:
df_polars[[0,3,4,5], ['carat', 'price']]

shape: (4, 2)
╭───────┬───────╮
│ carat ┆ price │
│ ---   ┆ ---   │
│ f64   ┆ i64   │
╞═══════╪═══════╡
│ 0.23  ┆ 326   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 0.29  ┆ 334   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 0.31  ┆ 335   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 0.24  ┆ 336   │
╰───────┴───────╯

In [81]:
df_polars.select_at_idx(5).head(3)

shape: (3,)
Series: 'table' [f64]
[
	55
	61
	65
]

In [93]:
df_polars['cut'].value_counts()

shape: (5, 2)
╭─────────────┬────────╮
│ cut         ┆ counts │
│ ---         ┆ ---    │
│ str         ┆ u32    │
╞═════════════╪════════╡
│ "Ideal"     ┆ 21551  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ "Premium"   ┆ 13791  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ "Very Good" ┆ 12082  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ "Good"      ┆ 4906   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ "Fair"      ┆ 1610   │
╰─────────────┴────────╯

In [96]:
df_polars['cut'].is_not_null().sum()

53940

In [97]:
df_polars['cut'].is_null().sum()

0

In [99]:
df_pandas['carat'].isnull().sum()

0

In [100]:
df_pandas['carat'].count()

53940

In [102]:
df_pandas['carat'].notnull().sum()

53940

In [104]:
df_polars['cut'].unique()

shape: (5,)
Series: 'cut' [str]
[
	"Very Good"
	"Ideal"
	"Fair"
	"Premium"
	"Good"
]

In [106]:
df_pandas['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [109]:
df_pandas['cut'].nunique()

5

In [112]:
df_polars[df_polars['cut'] == 'Ideal'].head(3)

shape: (3, 10)
╭───────┬─────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut     ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---     ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str     ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ "Ideal" ┆ "E"   ┆ "SI2"   ┆ ... ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.23  ┆ "Ideal" ┆ "J"   ┆ "VS1"   ┆ ... ┆ 340   ┆ 3.93 ┆ 3.9  ┆ 2.46 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.31  ┆ "Ideal" ┆ "J"   ┆ "SI2"   ┆ ... ┆ 344   ┆ 4.35 ┆ 4.37 ┆ 2.71 │
╰───────┴─────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [114]:
df_polars[df_polars['price'] > 300].head(3)

shape: (3, 10)
╭───────┬───────────┬───────┬─────────┬─────┬───────┬──────┬──────┬──────╮
│ carat ┆ cut       ┆ color ┆ clarity ┆ ... ┆ price ┆ x    ┆ y    ┆ z    │
│ ---   ┆ ---       ┆ ---   ┆ ---     ┆     ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ f64   ┆ str       ┆ str   ┆ str     ┆     ┆ i64   ┆ f64  ┆ f64  ┆ f64  │
╞═══════╪═══════════╪═══════╪═════════╪═════╪═══════╪══════╪══════╪══════╡
│ 0.23  ┆ "Ideal"   ┆ "E"   ┆ "SI2"   ┆ ... ┆ 326   ┆ 3.95 ┆ 3.98 ┆ 2.43 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.21  ┆ "Premium" ┆ "E"   ┆ "SI1"   ┆ ... ┆ 326   ┆ 3.89 ┆ 3.84 ┆ 2.31 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0.23  ┆ "Good"    ┆ "E"   ┆ "VS1"   ┆ ... ┆ 327   ┆ 4.05 ┆ 4.07 ┆ 2.31 │
╰───────┴───────────┴───────┴─────────┴─────┴───────┴──────┴──────┴──────╯

In [116]:
df_polars['x'].apply(round).head(3)

shape: (3,)
Series: 'x' [i64]
[
	4
	4
	4
]

In [119]:
df_polars['x'].mean()

5.731157211716731

In [118]:
df_pandas['x'].mean()

5.731157211716609

In [129]:
df_polars['x'].apply(lambda x: round(x,1))

shape: (53940,)
Series: 'x' [f64]
[
	4
	3.9
	4
	4.2
	4.3
	3.9
	4
	4.1
	3.9
	4
	4.2
	3.9
	...
	6
	5.8
	5.8
	5.7
	5.7
	5.7
	5.7
	5.8
	5.7
	5.7
	6.2
	5.8
]

In [134]:
for x,y in enumerate(df_polars['cut'].unique()):
    print(x,y)

0 Fair
1 Good
2 Ideal
3 Premium
4 Very Good

In [135]:
mydict = {k:v for k,v in enumerate(df['cut'].unique())}

In [136]:
mydict

{0: 'Premium', 1: 'Ideal', 2: 'Good', 3: 'Fair', 4: 'Very Good'}

In [137]:
map_dict = {v:k for k,v in enumerate(df_pandas['cut'].unique())}

In [138]:
map_dict

{'Ideal': 0, 'Premium': 1, 'Good': 2, 'Very Good': 3, 'Fair': 4}

In [139]:
df_pandas.loc[:, 'cut'].map(map_dict)

0        0
1        1
2        2
3        1
4        2
        ..
53935    0
53936    2
53937    3
53938    1
53939    0
Name: cut, Length: 53940, dtype: int64

In [ ]:
#interrupted - just took too long to run

def map_cut_values(x):
    for key, value in {k:v for k,v in enumerate(df_polars['cut'].unique())}.items():
        if value == x:
            return key

df_polars['cut'].apply(lambda x: map_cut_values(x))

In [145]:
from polars import lazy as plz

In [ ]:
dir(plz)

In [ ]:
def custom_values():